<%= title("Home") %>

<%= link_to "Go to Projects", projects_path, class:"btn btn-primary btn-large" %>

<br /> <br />

<div class="row-fluid">
	<div class="span12">
		Some graphs are displayed here. Overview of the user's activities, projects. Reports 
		about the projects. Per month. Per year. Etc....
	</div>
</div>

