<%= title(@project.name) %>

<%= link_to "Back to Projects", projects_path, class:"btn btn-primary btn-large" %>

<br /> <br />

<div class="row-fluid">
	<div class="span8">
		<p class="lead"> <%= @project.name %> </p>
	</div>

	<div class="span4">
		<p class="lead"> Created by </p>
		
		<%= gravatar @project %>
	</div>
</div>
